# Dependency directories
node_modules/

# Other common things to ignore
.env
dist/
*.log
*.html
!index.html
*.json
!package.json
!package-lock.json
!manifest.webmanifest
!.github/workflows/*.json
node_modules/
dev-dist/
scraper_debug.html